---
layout: page
title: Our Open Source contributors
permalink: /team
---
    {% include people.html
        image="eng_team/nicolas.brousse.jpg"
        fullname="Nicolas Brousse"
        title="Sr. Director of Operations Engineering"
        bio="Adept at adapting quickly to ongoing business needs and constraints,
             Nicolas leads a global team of site reliability engineers and database
             architects that monitor TubeMogul's infrastructure 24/7 and adhere to
             \"DevOps\" methodology."
        githubname="orieg"
        twittername="orieg"
        linkedinname="nicolasbrousse"
        web1name="Technical blog"
        web1url="http://www.shell-tips.com/"
        web2name="Website"
        web2url="https://nicolas.brousse.info/"
    %}

    {% include people.html
        image="eng_team/ryan.baker.jpg"
        fullname="Ryan Baker"
        title="Web and Marketing Systems Engineer, US team"
        bio=""
        githubname="flux3000"
        linkedinname="ryanfbaker"
        web1name="Website"
        web1url="http://www.ryanfbaker.com"
    %}

    {% include people.html
        image="eng_team/matthew.cupples.jpg"
        fullname="Matthew Cupples"
        title="System Engineer, US OPS team"
        bio=""
        githubname="nowthatsamatt"
        web1name="Website"
        web1url="https://nowthatsamatt.com/"
    %}

    {% include people.html
        image="eng_team/trung.dinh.jpg"
        fullname="Trung Dinh"
        title="Software Engineer, US RTB team"
        bio=""
        githubname="trungdinhtm"
        linkedinname="duy-trung-dinh-15796511"
    %}

    {% include people.html
        image="eng_team/julien.fabre.jpg"
        fullname="Julien Fabre"
        title="Senior Site Reliability Engineer, US OPS team"
        bio=""
        githubname="pryz"
        twittername="julien_fabre"
        linkedinname="julienfabre"
        web1name="Technical blog"
        web1url="http://blog.jfabre.net/"
    %}

    {% include people.html
        image="eng_team/oleg.galitskiy.jpg"
        fullname="Oleg Galitskiy"
        title="Site Reliability Engineer, Ukraine OPS team"
        bio=""
        githubname="Galitskiy"
        twittername="OlegGalitskiy"
        linkedinname="oleggalitskiy"
    %}

    {% include people.html
        image="eng_team/pierre.grandin.jpg"
        fullname="Pierre Grandin"
        title="Infrastructure Engineer, US OPS team"
        bio="Aside from his work on the current production platform running
            Juno, he has also been maintaining a comprehensive repository to provide
            an up to date Gentoo packaging for Openstack and its dependencies hosted
            on Github since the Grizzly release."
        githubname="pgrandin"
        linkedinname="pgrandin"
    %}

    {% include people.html
        image="eng_team/tony.gosselin.jpg"
        fullname="Tony Gosselin"
        title="IT Director, US IT team"
        bio=""
        githubname="tubemogultony"
        linkedinname="agosselin"
    %}

    {% include people.html
        image="eng_team/jimmy.grover.jpg"
        fullname="Jimmy Grover"
        title="System Administrator, US IT team"
        bio=""
        githubname="JimmyGrover"
        linkedinname="jimmy-grover-8837385a"
    %}

    {% include people.html
        image="eng_team/joseph.herlant.jpg"
        fullname="Joseph Herlant"
        title="SRE - Data operations, US OPS team"
        bio="DBA, system administration and performance, rock...
             Mix it up, that's better! :metal:
             <br />
             A day without discovering new stuffs is useless."
        githubname="aerostitch"
        twittername="carrotteman"
        linkedinname="josephherlant"
        web1name="Technical notes"
        web1url="http://aerostitch.github.io/"
    %}

    {% include people.html
        image="eng_team/aishwarya.iyer.jpg"
        fullname="Aishwarya Iyer"
        title=""
        bio=""
        githubname="aishwaryaTM"
    %}

    {% include people.html
        image="eng_team/sean.merrigan.jpg"
        fullname="Sean Merrigan"
        title="Senior Ad Developer, US team"
        bio=""
        githubname="seanmerrigan"
        linkedinname="sean-merrigan-5341803"
    %}

    {% include people.html
        image="eng_team/mykola.mogylenko.jpg"
        fullname="Mykola Mogylenko"
        title="Infrastructure Engineer, Ukraine OPS team"
        bio="My favourite joke: 
            An SQL query went into a bar. He walked up to two tables and said, \"Hi,
            can I join you?\""
        githubname="mmogylenko"
        twittername="mmogylenko"
        linkedinname="mogylenko"
    %}

    {% include people.html
        image="eng_team/aleksey.mykhailov.jpg"
        fullname="Aleksey Mykhailov"
        title="Site Reliability Engineer, Ukraine OPS team"
        bio=""
        githubname="alekseymykhailov"
    %}

    {% include people.html
        image="eng_team/adam.nisenbaum.jpg"
        fullname="Adam Nisenbaum"
        title="Sr. Engineering Manager, Mobile, Display and Native, US team"
        bio=""
        githubname="anisenbaum"
        linkedinname="anisenbaum"
    %}

    {% include people.html
        image="eng_team/arsenii.pastushenko.jpg"
        fullname="Arsenii Pastushenko"
        title="System Engineer, Ukraine OPS team"
        bio="Musician turned to engineering.
             <br />
             Curious about monitoring, configuration management and *BSD systems."
        githubname="ynnt"
    %}

    {% include people.html
        image="eng_team/william.powell.jpg"
        fullname="William Powell"
        title="Senior Front-end Developer, US UI team"
        bio=""
        githubname="iamwillpowell"
        linkedinname="iamwillpowell"
    %}

    {% include people.html
        image="eng_team/adam.rose.jpg"
        fullname="Adam Rose"
        title="Chief Technical Officer, US team"
        bio=""
        githubname="rosieman"
        linkedinname="adam-rose-2bb34"
    %}

    {% include people.html
        image="eng_team/michael.schiff.jpg"
        fullname="Michael Schiff"
        title="Software Engineer, US team"
        bio=""
        githubname="michaelschiff"
        linkedinname="michael-schiff-507a9668"
    %}

    {% include people.html
        image="eng_team/steve.thorpe.jpg"
        fullname="Steve Thorpe"
        title="Mobile Video Engineer, US team"
        bio=""
        githubname="SteveThorpeTM"
        linkedinname="steve-thorpe-6a3a589"
    %}

    {% include people.html
        image="eng_team/konstantin.zadorozhny.jpg"
        fullname="Konstantin Zadorozhny"
        title="Technical Architect, US team"
        bio=""
        githubname="kzadorozhny"
        linkedinname="kzadorozhny"
    %}

