    <div class="row">
      <div class="col-xs-2 col-md-2 col-lg-3">
        <br />
        <img src="/img/{{ include.image }}" class="img-rounded people-image">
      </div>
      <div class="col-xs-9 col-md-9">
        <h3>{{ include.fullname }}</h3>
        <b>{{ include.title }}</b>
        <br />
        <br />
        <div>
          {{ include.bio }}
          <br />
          {% if include.githubname != blank %}
            {% include icon-github.html username=include.githubname %}
          {% endif %}
          {% if include.twittername != blank %}
            - {% include icon-twitter.html username=include.twittername %}
          {% endif %}
          {% if include.linkedinname != blank %}
            - {% include icon-linkedin.html username=include.linkedinname %}
          {% endif %}
          <br />
          {% if include.web1url != blank and include.web1name != blank %}
            {% include icon-website.html url=include.web1url sitename=include.web1name %}
          {% endif %}
          {% if include.web2url != blank and include.web2name != blank %}
            {% include icon-website.html url=include.web2url sitename=include.web2name %}
          {% endif %}
        </div>
      </div>
    </div>
    <br />
